@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300&family=Londrina+Solid&display=swap%27');


.youContainer {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.player-wrapper {
    position: relative;

    width: 50.55%;
    height: 50%;
    display: flex;
    /* Add this */
    justify-content: center;
    /* Add this */
    align-items: center;
    /* Add this */
}

.p3 {
    font-size: clamp(2rem, 6vw, 3rem);
}

.youTitle {

    font-size: 3vw;
    color: rgb(172, 172, 172);
    width: 100%;
    /* Updated from 78% */
    text-align: center;
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 300;
}

.youtube-player {
    position: relative;
    /* Updated from absolute */
    width: 100%;
    /* Add this */
    height: 100%;
    /* Add this */
}

.youtube-player iframe {
    border: 3px solid #8B8B8B;
    border-radius: 15px;

}

@media only screen and (max-width: 1000px) {
    .youContainer {
        padding-top: 20%;
    }

    .player-wrapper {
        width: 80%;
    }
}