.feaTitle {
    font-size: 3vw;
    color: rgb(172, 172, 172);

    height: fit-content;
    width: 50%;
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 300;
    overflow-y: hidden;
    text-align: center;





}



.feaContainer {

    margin-top: 10%;
    display: flex;

    align-items: center;
    flex-direction: column;
    height: 80vh;
    position: relative;
    /* Add this to the container to make it a reference for absolute positioning */
}