.feaTitle {
    padding-right: 5%;
    font-size: 3vw;
    color: white;
    padding-top: 1%;
    height: fit-content;
    width: 78%;
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 300;
    overflow-y: hidden;




}

.p4 {
    padding-left: 9%;
}


.feaContainer {

    margin-top: 1%;
    display: flex;

    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    /* Add this to the container to make it a reference for absolute positioning */
}